https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce?resource=download

https://www.kaggle.com/code/sergeistanislavovich/let-s-talk-e-commerce-the-brazilian-edition#7.-From-Questions-to-Answers:-Hypothesis-Driven-Analysis  
https://www.kaggle.com/code/dhimananubhav/e-commerce-predicting-customer-lifetime-value  
https://www.kaggle.com/code/thiagopanini/e-commerce-sentiment-analysis-eda-viz-nlp  
https://www.kaggle.com/code/andresionek/geospatial-analysis-of-brazilian-e-commerce

In [88]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np


root_path = 'data/'

customers_df = pd.read_csv(root_path + 'olist_customers_dataset.csv')
items_df = pd.read_csv(root_path + 'olist_order_items_dataset.csv')
payments_df = pd.read_csv(root_path + 'olist_order_payments_dataset.csv')
orders_df = pd.read_csv(root_path + 'olist_orders_dataset.csv')
order_items_df = pd.read_csv(root_path + 'olist_order_items_dataset.csv')
sellers_df = pd.read_csv(root_path + 'olist_sellers_dataset.csv')
categories_df = pd.read_csv(root_path + 'product_category_name_translation.csv')
geolocation_df = pd.read_csv(root_path + 'olist_geolocation_dataset.csv')
reviews_df= pd.read_csv(root_path + 'olist_order_reviews_dataset.csv')

In [89]:
customers_df

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [92]:
df_dict = {'customers_df':customers_df,
           'items_df':items_df,
           'payments_df':payments_df,
           'orders_df':orders_df,
           'order_items_df':order_items_df,
           'products_df':products_df,
           'sellers_df':sellers_df,
           'categories_df':categories_df,
           'geolocation_df':geolocation_df,
           'reviews_df':reviews_df
          }

In [93]:
for name, tab in df_dict.items():
    print(f"Shape of {name} is {tab.shape}")

Shape of customers_df is (99441, 5)
Shape of items_df is (112650, 7)
Shape of payments_df is (103886, 5)
Shape of orders_df is (99441, 8)
Shape of order_items_df is (112650, 7)
Shape of products_df is (32951, 9)
Shape of sellers_df is (3095, 4)
Shape of categories_df is (71, 2)
Shape of geolocation_df is (1000163, 5)
Shape of reviews_df is (99224, 7)

In [95]:
for name, df in df_dict.items():
    print(f"{name} nulls:\n")

    print(df.isnull().sum())
    print(f"Count: {len(df)}\n\n")

customers_df nulls:

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64
Count: 99441


items_df nulls:

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64
Count: 112650


payments_df nulls:

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64
Count: 103886


orders_df nulls:

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64
Count: 99441


order_items_df nulls:

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64
Count: 112650


products_df nulls:

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64
Count: 32951


sellers_df nulls:

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64
Count: 3095


categories_df nulls:

product_category_name            0
product_category_name_english    0
dtype: int64
Count: 71


geolocation_df nulls:

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64
Count: 1000163


reviews_df nulls:

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64
Count: 99224

In [96]:
list(df_dict.keys())

['customers_df',
 'items_df',
 'payments_df',
 'orders_df',
 'order_items_df',
 'products_df',
 'sellers_df',
 'categories_df',
 'geolocation_df',
 'reviews_df']

In [97]:
for name, df in df_dict.items():
    print(f"{name} has {df.duplicated().sum()} duplicates")

customers_df has 0 duplicates
items_df has 0 duplicates
payments_df has 0 duplicates
orders_df has 0 duplicates
order_items_df has 0 duplicates
products_df has 0 duplicates
sellers_df has 0 duplicates
categories_df has 0 duplicates
geolocation_df has 261831 duplicates
reviews_df has 0 duplicates

Dealing with geolocation's duplicates

In [98]:
geolocation_df.value_counts()

geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  geolocation_city  geolocation_state
88220                        -27.102099       -48.629613       itapema           SC                   314
6414                         -23.495901       -46.874687       barueri           SP                   189
                             -23.490618       -46.869004       barueri           SP                   127
5145                         -23.506049       -46.717377       sao paulo         SP                   126
22620                        -23.005514       -43.375964       rio de janeiro    RJ                   102
                                                                                                     ...
18150                        -23.661002       -47.213815       ibiuna            SP                     1
                             -23.660997       -47.225822       ibiuna            SP                     1
                             -23.660702       -47.219962       ibiuna            SP                     1
                                                               ibiúna            SP                     1
                             -23.661843       -47.213569       ibiuna            SP                     1
Name: count, Length: 738332, dtype: int64

In [99]:
geolocation_df.duplicated().value_counts()

False    738332
True     261831
Name: count, dtype: int64

In [100]:
geolocation_df.drop_duplicates(inplace=True)

Looking at the missing data (orders_df, products_df, reviews_df)

orders_df

In [102]:
orders_df.des()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

I can see the nulls are only in 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date'  
I will see if these are due to the order status. Because delivery based nulls would make sense for orders that are not delivered yet.

In [104]:
orders_df['order_status'].value_counts()

order_status
delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: count, dtype: int64

I can see there is an unavailable order_status. This is effectively a null.

In [114]:
orders_df[(orders_df['order_status']=='unavailable')].info()

<class 'pandas.core.frame.DataFrame'>
Index: 609 entries, 266 to 99415
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       609 non-null    object
 1   customer_id                    609 non-null    object
 2   order_status                   609 non-null    object
 3   order_purchase_timestamp       609 non-null    object
 4   order_approved_at              609 non-null    object
 5   order_delivered_carrier_date   0 non-null      object
 6   order_delivered_customer_date  0 non-null      object
 7   order_estimated_delivery_date  609 non-null    object
dtypes: object(8)
memory usage: 42.8+ KB

I am hesitant to remove these values just yet, the fact the customer_id is there could be useful knowledge.

In [113]:
orders_df[(orders_df['order_status']=='delivered')].info()

<class 'pandas.core.frame.DataFrame'>
Index: 96478 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       96478 non-null  object
 1   customer_id                    96478 non-null  object
 2   order_status                   96478 non-null  object
 3   order_purchase_timestamp       96478 non-null  object
 4   order_approved_at              96464 non-null  object
 5   order_delivered_carrier_date   96476 non-null  object
 6   order_delivered_customer_date  96470 non-null  object
 7   order_estimated_delivery_date  96478 non-null  object
dtypes: object(8)
memory usage: 6.6+ MB

Orders that are delivered and yet have a null for delivered date are errors in the system, I will leave them in for now though.

In [110]:
orders_df[(orders_df['order_status']=='delivered') & (orders_df['order_delivered_customer_date'].isna())]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
3002,2d1e2d5bf4dc7227b3bfebb81328c15f,ec05a6d8558c6455f0cbbd8a420ad34f,delivered,2017-11-28 17:44:07,2017-11-28 17:56:40,2017-11-30 18:12:23,NaN,2017-12-18 00:00:00
20618,f5dd62b788049ad9fc0526e3ad11a097,5e89028e024b381dc84a13a3570decb4,delivered,2018-06-20 06:58:43,2018-06-20 07:19:05,2018-06-25 08:05:00,NaN,2018-07-16 00:00:00
43834,2ebdfc4f15f23b91474edf87475f108e,29f0540231702fda0cfdee0a310f11aa,delivered,2018-07-01 17:05:11,2018-07-01 17:15:12,2018-07-03 13:57:00,NaN,2018-07-30 00:00:00
79263,e69f75a717d64fc5ecdfae42b2e8e086,cfda40ca8dd0a5d486a9635b611b398a,delivered,2018-07-01 22:05:55,2018-07-01 22:15:14,2018-07-03 13:57:00,NaN,2018-07-30 00:00:00
82868,0d3268bad9b086af767785e3f0fc0133,4f1d63d35fb7c8999853b2699f5c7649,delivered,2018-07-01 21:14:02,2018-07-01 21:29:54,2018-07-03 09:28:00,NaN,2018-07-24 00:00:00
92643,2d858f451373b04fb5c984a1cc2defaf,e08caf668d499a6d643dafd7c5cc498a,delivered,2017-05-25 23:22:43,2017-05-25 23:30:16,NaN,NaN,2017-06-23 00:00:00
97647,ab7c89dc1bf4a1ead9d6ec1ec8968a84,dd1b84a7286eb4524d52af4256c0ba24,delivered,2018-06-08 12:09:39,2018-06-08 12:36:39,2018-06-12 14:10:00,NaN,2018-06-26 00:00:00
98038,20edc82cf5400ce95e1afacc25798b31,28c37425f1127d887d7337f284080a0f,delivered,2018-06-27 16:09:12,2018-06-27 16:29:30,2018-07-03 19:26:00,NaN,2018-07-19 00:00:00

products_df

In [121]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_length         32341 non-null  float64
 3   product_description_length  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

some columns have a typo. will fix now.

In [120]:
products_df.rename(columns={'product_name_lenght':'product_name_length',
                            'product_description_lenght':'product_description_length'},
                   inplace=True)

In [122]:
products_df.head()

,product_id,product_category_name,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [129]:
#actually those renamed columns dont seem useful. I will drop them now

products_df.drop(['product_name_length','product_description_length'],
                  axis=1,
                inplace=True)

I will update nulls in product_category_name with a value like unidentified. And I will fill the product_photos_qty with 0.

In [148]:
products_df['product_category_name'].fillna(value='unidentified',
                                           inplace=True)

In [152]:
products_df['product_photos_qty'] = products_df['product_photos_qty'].fillna(value=0)

The nulls for product weight, length, height and width are all for the same 2 products. I will fill them with the median values of their respective categories (bebes/baby and unidentified)

In [162]:
products_df[products_df['product_height_cm'].isna()]

,product_id,product_category_name,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
8578,09ff539a621711667c43eba6a3bd8466,bebes,3.0,850.0,NaN,NaN,NaN
18851,5eb564652db742ff8f28759cd8d2652a,unidentified,0.0,700.0,NaN,NaN,NaN

In [166]:
cols_to_fill=['product_weight_g',
              'product_length_cm',
              'product_height_cm',
              'product_width_cm']

In [168]:
for column in cols_to_fill:
    products_df[column]=products_df.groupby('product_category_name')[column].transform(
    lambda x:x.fillna(x.median()))

In [160]:
products_df['product_weight_g']=products_df.groupby('product_category_name')['product_weight_g'].transform(
    lambda x:x.fillna(x.median()))

In [169]:
products_df.loc[[8578,18851]]

,product_id,product_category_name,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
8578,09ff539a621711667c43eba6a3bd8466,bebes,3.0,850.0,33.0,16.0,25.0
18851,5eb564652db742ff8f28759cd8d2652a,unidentified,0.0,700.0,25.0,12.0,20.0

reviews_df

In [171]:
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

I dont need to drop any columns or rows here yet.